fieldset{
            border-style: none;
            width: 50rem;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        .container1{
            display: flex;
        }
        .container{
            margin: 20px 0 0 370px;
            background-color: #D8FFD6;
            height: 350px;

        }
        .container1 input{
            width: 18rem;
            height: 35px;
            border: none;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        .Sign-info{
            width: 20rem;
            padding: 5px ;
        }
        .personalInformation{
            
            padding: 5px ;
            width: 25rem;
        }
        .container button{
            background-color: darkgreen;
            color: white;
            width: 13.5rem; 
            margin-left: 245px;
            margin-top: 5px;
            padding: 2px 2px;
            border: none;
            cursor: pointer;
            height: 25px;
        }
        legend{
            font-weight: bolder;
            margin-left: 370px;
            font-size: 20px;

        }
        label{
            color: #9BA49A;
        }


        @media (max-width: 700px){

.container{
            margin: 20px 0 0 1px;
            background-color: #D8FFD6;
            height: 330px;
            width: 340px;

        }

        .container1 input{
            width: 8rem;
            height: 20px;
            border: none;
            margin-top: 6px;
            margin-bottom: 12px;
        }

        .container button{
            background-color: darkgreen;
            color: white;
            width: 7rem; 
            margin-left: 105px;
            margin-top: 5px;
            padding: 2px 2px;
            border: none;
            cursor: pointer;
            height: 20px;
            font-size: 9px;
        }
        legend{
            font-weight: bolder;
            margin-left: 20px;
            font-size: 20px;

        }

        }