.outline{
	background-color: #d8ffd6;
	height: 470px;
    width: 800px;
    margin: 10px 0 0 380px;
    text-align: center;
    }
.content{
    height: 270px;
    width: 500px;
    text-align: left;
    padding: 110px 0 0 150px;
     }
 h3{
    margin-left: 380px;
    font-size: 20px;
    }