.outline{
			background: #d8ffd6;
			height: 470px;
            width: 800px;
            margin: 10px 0 60px 370px;
            text-align: center;
		}
		.content{
			height: 270px;
            width: 500px;
            text-align: center;
            padding: 170px 0 0 150px;
		}
		img{
			height: 80px;
		}
		h3{
        	margin-left: 370px;
        	font-size: 20px;
        }