.contactus{
    height: 340px;
    background-color: white;
    width: 100%;
    display: flex;

}
.contactdetail{
    width: 30%;
    height: 300px;
    text-align: center;
    margin-left: 200px;
}
.contactdetail h2,p{
    text-align: left;
}
.contactdetail input{
    margin: 10px 20px 20px 15px;
    height: 30px;
    width: 180px;   
}
.contactdetail input,textarea{
    background-color: #D9D9D9;
    border: none;
}
.contactdetail button{
    border: none;
    background-color: darkgreen;
    color: white;
    margin-top: 30px;
    padding: 10px 50px;
}
.contact{
    width: 25%;
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    height: 220px ;
    margin-left: 380px;
    margin-top: 5px;


}
:placeholder-shown{
    text-align: center;
}


@media (max-width: 700px){

    .contactus{
    height: 440px;
    background-color: white;
    width: 100%;
    display: flex;

}

.contactdetail{
    width: 30%;
    height: 100px;
    text-align: center;
    margin-left: 50px;
}

.contactdetail p{
    text-align: left;
    font-size: 10px;
}

.contactdetail h2{
    font-size: 15px;

}

.contactdetail input{
    margin: 10px 20px 20px 1px;
    height: 10px;
    width: 100px;   
}

.contactdetail textarea{
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    width: 190px;
}

.contact{
    width: 25%;
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    height: 220px ;
    margin-left: 90px;
    margin-top: 5px;
    line-height: 12px;
}

.contact p{
    font-size: 10px;
}



}