.shopcart{
    width: 93%;
    height: 1000px;
    background-color: #D8FFD6;
    margin: 10px 0 0 50px;
    }
table{
    width: 90%;
    background-color: #D8FFD6;
    margin-left: 50px;
            
    }
table,th,td,tr{
           
    border-collapse: collapse;
        }
        .img{
            width: 150px;
            height: 140px;
            border-radius: 10px;
            margin: 0 30px;
        }
        table tr th{
            padding: 60px 0 50px 0;
            font-size: 25px;
            text-align: left;
           
        }
        th,td{
            border-bottom: 2px solid black;
        }
        h3{
            margin-left: 80px;
            font-size: 20px;
        }
        td{
            padding: 30px 0;
            text-align: left;
            
        }
        .tab{
            display: flex;
        }
        .txt{
            line-height: 7px;
            text-align: left;
            margin-top: 30px;
        }
        label{
            color: black;
            background-color: white;
            padding: 5px 10px;
            font-weight: bold;
        }
        .quantity {
            display: inline-block; }
           
           .quantity .input-text.qty {
            width: 35px;
            height: 39px;
            padding: 0 5px;
            text-align: center;
            background-color: white;
            border: 1px solid black;
           }
           
           .quantity.buttons_added {
            text-align: left;
            position: relative;
            white-space: nowrap;
            vertical-align: top; }
           
           .quantity.buttons_added input {
            display: inline-block;
            margin: 0;
            vertical-align: top;
            box-shadow: none;
           }
           
           .quantity.buttons_added .minus,
           .quantity.buttons_added .plus {
            padding: 7px 10px 8px;
            height: 41px;
            background-color: gray;
            border: 1px solid black;
            cursor:pointer;}
           
           .quantity.buttons_added .minus {
            border-right: 0; }
           
           .quantity.buttons_added .plus {
            border-left: 0; }
           
           .quantity.buttons_added .minus:hover,
           .quantity.buttons_added .plus:hover {
            background: #eeeeee; }
           
           .quantity input::-webkit-outer-spin-button,
           .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0; }
            
            .quantity.buttons_added .minus:focus,
           .quantity.buttons_added .plus:focus {
            outline: none; 
        }
        pre{
            font-size: 20px;
            font-weight: bolder;
            margin-left: 70%;
           
        }
        pre button{
            width: 240px;
            background-color: darkgreen;
            color: white;
            padding: 10px 10px;
            border: none;
            cursor: pointer;
            
        }


        @media (max-width: 700px){
           .shopcart{
     width: 800px;
    height: 1021px;
    background-color: #D8FFD6;
    margin: 10px 0 0 5px;
    } 

    .img{
            width: 90px;
            height: 80px;
            
            margin: 0 1px;
        }

        table{
            width: 10%;
            background-color: #D8FFD6;
            margin-left: 10px;
            
    }

    table tr th{
            padding: 60px 0 50px 0;
            font-size: 15px;
            text-align: left;
           
        }

        .tab{
            display: block;
            
        }

        td{
            padding: 30px 0;
            text-align: left;
            
        }

        label{
            color: black;
            background-color: white;
            padding: 5px 10px;
            font-weight: bold;
            margin-left: 1px;
        }

        table,th,td,tr{
            position: relative;
        }


         pre{
            font-size: 12px;
            font-weight: bolder;
            margin-left: 19%;
           
        }

        pre button{
            width: 140px;
            background-color: darkgreen;
            color: white;
            padding: 10px 10px;
            border: none;
            cursor: pointer;
            
        }




        }